* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#table {
  width: 400px;
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
}

.table__title {
  background-color: #87ceeb;
}

.stock__item:nth-child(odd) {
  background-color: #ffffff;
}

.stock__item:nth-child(even) {
  background-color: #d3d3d3;
}

.table__title__title,
.table__title__price {
  width: 200px;
}

.table__title__title,
.table__title__price,
.stock__item__title,
.stock__item__price {
  text-align: center;
}
